{% extends "layout.html.twig" %}

{% block styles %}
{{ parent() }}
<link rel="stylesheet" href="/js/select2/select2.css" type="text/css" />
{% endblock %}

{% block content %}
<form action="" method="get" accept-charset="utf-8">
    I want to <input type="hidden" name="category" id="category" placeholder="Hike, eat, drink, etc." value="" style="width: 200px;" />
    at <input type="hidden" name="location" id="location" value="" style="width: 200px;" />
    <input type="hidden" name="city_id" id="city_id" data-provides="location-field" data-location-type="city" />
    <input type="hidden" name="county_id" id="county_id" data-provides="location-field" data-location-type="county" />
    <input type="hidden" name="attraction_id" id="attraction_id" data-provides="location-field" data-location-type="attraction" />
    <input type="hidden" name="category_id" id="category_id" />
    <input type="submit" value="Go" />
</form>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script type="text/javascript" src="/js/select2/select2.js"></script>
<script type="text/javascript">

var unlock = unlock || {
    location_fields: {},
    category_field: null,
    category: null,
    init: function() {
        var _this = this;
        this.category_field = $('#category');
        $('[data-provides="location-field"]').each(function(i, elem) {
            var $elem = $(elem);
            _this.location_fields[$elem.data('location-type')] = $elem;
        });
    },
    setCategory: function(category) {
        this.category = category;
        this.category_field.val(category);
    },
    getCategory: function(category) {
        return this.category;
    },
    setLocationFieldValue: function(type, value) {
        for (x in this.location_fields) {
            if (x === type) {
                this.location_fields[x].val(value);
                continue;
            }
            this.location_fields[x].val('');
        }
    }
};

unlock.init();

$('#category').select2({
    ajax: {
        url: '/index_dev.php/category',
        dataType: 'json',
        results: function(data, page) {
            return { results: data };
        }
    },
    formatResult: function(object) {
        return object.name;
    },
    formatSelection: function(object) {
        return object.name;
    }
}).on('change', function(e) {
    unlock.setCategory(e.added.id);
});

$('#location').select2({
    ajax: {
        url: function(term, page, context) {
            return [
                '/index_dev.php/adventure?category=',
                unlock.getCategory(),
                '&term=',
                term
            ].join('');
        },
        dataType: 'json',
        minimumInputLength: 3,
        results: function(data, page) {
            return { results: data };
        }
    },
    formatResult: function(object) {
        return object.name;
    },
    formatSelection: function(object) {
        return object.name;
    }
}).on('change', function(e) {
    unlock.setLocationFieldValue(e.added.type, e.added.object_id);
});

</script>

{% endblock %}
