<!DOCTYPE html>
<html>
    <head>
        <title>Foo Bar Layout</title>

        {% block styles %}
        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>
        {% block flash %}
        {% if flash is defined %}
        <div class="alert alert-{{ flash.type }}">
            {{ flash.message }}
        </div>
        {% endif %}
        {% endblock flash %}

        {% block content %}{% endblock %}

        {% block scripts %}
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        {% endblock %}
    </body>
</html>
