{% extends "layout.html.twig" %}
{% block content %}
<div class="user screen">
    <div class="profile adventure">
        <img class="topFadeIn" src="http://placehold.it/175x175">
    </div>
    <div class="section">
        <h3>Welcome Back, User!</h3>

        <h3>Adventures in Progress</h3>

        <h3>Badges Unlocked</h3>
    </div>
    <div class="badges">
        <ul class="fancy-list badge-list">
            <li>
                <div class="white-badge"><span></span></div>
                <div class="toggle">
                    <p><strong>Local Patron</strong> Badge</p>
                    <p>Visited <strong>5</strong> Restaurants</p>
                </div>
            </li>
            <li>
                <div class="white-badge"><span></span></div>
                <div class="toggle">
                    <p><strong>Local Patron</strong> Badge</p>
                    <p>Visited <strong>5</strong> Restaurants</p>
                </div>
            </li>
            <li>
                <div class="white-badge"><span></span></div>
                <div class="toggle">
                    <p><strong>Local Patron</strong> Badge</p>
                    <p>Visited <strong>5</strong> Restaurants</p>
                </div>
            </li>
            <li>
                <div class="white-badge"><span></span></div>
                <div class="toggle">
                    <p><strong>Local Patron</strong> Badge</p>
                    <p>Visited <strong>5</strong> Restaurants</p>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
