{% extends "layout.html.twig" %}
{% block content %}
<div class="user screen badge-manager">
    <div class="section">
        <h3>Welcome Back, Evan!</h3>
    </div>
    <div class="badges">
        <ul class="fancy-list badge-list">
            <li>
                <div class="badge"><span></span></div>
                <div>
                    <p style="font-style: italic; font-size: 12px">
                        {{ "now" | date('F jS \\a\\t g:ia') }}
                    </p>
                    <p>
                        <i><strong>Hiking</strong></i>@<br />Camel's Hump
                    </p>
                    <p>
                        <i><strong>Eating</strong></i>@<br />The Prohibition Pig
                    </p>
                    <p>
                        <i><strong>Shopping</strong></i>@<br />Stowe Craft Gallery
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
