{% extends "layout.html.twig" %}

{% block extrahead %}
<link href="/vendor/css/rickshaw.min.css" rel="stylesheet" type="text/css" />

<style>
    #chart_containers {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        left: 40px;
    }

    .y_axis {
        position: relative;
        float: left;
        top: 0;
        bottom: 0;
        width: 40px;
        height: 300px;
    }
</style>

<script src="/vendor/js/d3.min.js"></script>
<script src="/vendor/js/d3.layout.min.js"></script>
<script src="/vendor/js/rickshaw.min.js"></script>
{% endblock %}

{% block content %}

<div id="chart_containers">
</div>

<script>

var data = {{ json_data|raw }}

/* convert years to seconds from epoch timestamps */
for (var k in data) {
    for (var i=0; i < data[k].length; i++) {
        data[k][i]["x"] = new Date(data[k][i]["x"], 1, 1).getTime() / 1000
    }
}

var chart_containers = document.getElementById('chart_containers');
var chart_num = 0
for (var stat in data) {
    var chart_container = document.createElement('div');
    chart_container.class = 'chart_container'

    var title = document.createElement('h2');
    title.textContent = stat
    chart_container.appendChild(title)

    var yaxis_div = document.createElement('div');
    yaxis_div.className = 'y_axis'
    yaxis_div.id = 'y_axis' + chart_num
    chart_container.appendChild(yaxis_div);

    var chart_div = document.createElement('div');
    chart_div.className = 'chart'
    chart_div.id = 'chart' + chart_num
    chart_container.appendChild(chart_div);

    chart_containers.appendChild(chart_container)

    var graph = new Rickshaw.Graph({
        element: document.getElementById('chart' + chart_num),
        width: 600,
        height: 300,
        series: [{
            color: 'steelblue',
            data: data[stat]
            }]
        });

    var x_axis = new Rickshaw.Graph.Axis.Time({
        graph: graph,
        timeUnit: Rickshaw.Fixtures.Time.year,
    });
    var y_axis = new Rickshaw.Graph.Axis.Y({
        graph: graph,
        orientation: 'left',
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
        element: document.getElementById('y_axis' + chart_num),
    });

    graph.render();
    chart_num++;
}
</script>

{% endblock %}
