{% extends "layout.html.twig" %}

{% block content %}
<p>
    hi {{ post }} {{ req }}
    <a href="burlington">btv</a>
</p>

<p>
    <form id="my_form" action="/index_dev.php/foo/energy/" method="POST">
        <input type="text" name="town" text="test" />
    </form>
</p>
{% endblock %}
